SostratPMSInterface/src/META-INF/wsdl/10.132.247.92/Mars.Extension.ServiceMixWeb/ServiceMixEx.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kleinsystems.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://kleinsystems.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kleinsystems.com/webservices/">
      <s:element name="ProcessRawData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RawMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessRawDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessRawDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessXmlData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessXmlDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessXmlDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSostratData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSostratDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessSostratDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRawDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRawData" />
  </wsdl:message>
  <wsdl:message name="ProcessRawDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRawDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessXmlDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessXmlData" />
  </wsdl:message>
  <wsdl:message name="ProcessXmlDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessXmlDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessSostratDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessSostratData" />
  </wsdl:message>
  <wsdl:message name="ProcessSostratDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessSostratDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceMixExSoap">
    <wsdl:operation name="ProcessRawData">
      <wsdl:input message="tns:ProcessRawDataSoapIn" />
      <wsdl:output message="tns:ProcessRawDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessXmlData">
      <wsdl:input message="tns:ProcessXmlDataSoapIn" />
      <wsdl:output message="tns:ProcessXmlDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSostratData">
      <wsdl:input message="tns:ProcessSostratDataSoapIn" />
      <wsdl:output message="tns:ProcessSostratDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMixExSoap" type="tns:ServiceMixExSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRawData">
      <soap:operation soapAction="http://kleinsystems.com/webservices/ProcessRawData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessXmlData">
      <soap:operation soapAction="http://kleinsystems.com/webservices/ProcessXmlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSostratData">
      <soap:operation soapAction="http://kleinsystems.com/webservices/ProcessSostratData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMixExSoap12" type="tns:ServiceMixExSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRawData">
      <soap12:operation soapAction="http://kleinsystems.com/webservices/ProcessRawData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessXmlData">
      <soap12:operation soapAction="http://kleinsystems.com/webservices/ProcessXmlData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSostratData">
      <soap12:operation soapAction="http://kleinsystems.com/webservices/ProcessSostratData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMixEx">
    <wsdl:port name="ServiceMixExSoap" binding="tns:ServiceMixExSoap">
      <soap:address location="http://10.132.247.92/Mars.Extension.ServiceMixWeb/ServiceMixEx.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMixExSoap12" binding="tns:ServiceMixExSoap12">
      <soap12:address location="http://10.132.247.92/Mars.Extension.ServiceMixWeb/ServiceMixEx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>